# OS files
.DS_Store
Thumbs.db

# Python / Backend
**/__pycache__/
**/*.pyc
backend/venv/
backend/.env
backend/*.db
backend/*.log

# Node / Frontend
node_modules/
dist/
dist-ssr/
frontend/.env
*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
